body
{
	overflow : hidden;
	padding : 0px;
	margin : 0px;
	font-size : 11px;
	font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

canvas
{
	position : fixed;
	top : 0px;
	left : 0px;
	margin : 0px;
}

div.DataWindow
{
	position : fixed;
	left : 10px;
	top : 10px;
	width : 300px;
	overflow : hidden;
	margin : 0px;
	padding : 0px;
	background-color : white;
	opacity : 0.8;
	z-index : 1;
	border-radius: 7px;
}

div.DataWindowHandle
{
	position : absolute;
	right : 0px;
	top : 0px;
	width : 7px;
	background-color : gray;
	opacity : 0.8;
	z-index: 2;
}

div.DataWindowHandle:hover
{
	background-color : lightgray;
}

div.DataArea, div.PropertiesArea
{
	border : 1ps solid black;
	margin : 0px;
	padding : 10px;
	overflow : auto;
}

div.SceneItem
{
	padding-left : 10px;
	cursor : pointer;
}

div.SceneItem:hover
{
	background-color : lightgray;
}

div.Button
{
	width : 70px;
	text-align : center;
	background-color : darkgray;
	border : 1px solid lightgray;
	margin : auto;
	cursor : pointer;
}

div.Button:hover
{
	background-color : lightgray;
	border : 1px solid darkgray;
}

table
{
	margin : 0px;
	padding : 0px;
}

td
{
	vertical-align: top;
	font-size : 11px;
	font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding : 0px;
	margin : 0px;
}

td.PropertyName
{
	font-weight : bold;
}

input.PropertyValue
{
	font-size : 11px;
	font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border : 0px;
}

input.PropertyValue:hover
{
	background-color : lightgray;
}