body
{
	overflow : hidden;
	padding : 0px;
	margin : 0px;
	font-size : 11px;
	font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

canvas
{
	position : fixed;
	top : 0px;
	left : 0px;
	margin : 0px;
}

div.DataWindow
{
	position : fixed;
	left : 10px;
	top : 10px;
	width : 200px;
	overflow : hidden;
	margin : 0px;
	padding : 0px;
	background-color : white;
	opacity : 0.8;
	z-index : 1;
	border-radius: 5px;
}

div.DataWindowHandle
{
	position : absolute;
	right : 0px;
	top : 0px;
	width : 5px;
	background-color : gray;
	opacity : 0.8;
	z-index: 2;
}

div.DataWindowHandle:hover
{
	background-color : lightgray;
}

div.DataArea, div.PropertiesArea
{
	border : 1ps solid black;
	margin : 0px;
	padding : 10px;
	overflow : hidden;
}